<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>servlets.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Registration</servlet-name>
        <servlet-class>servlets.Registration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminAction</servlet-name>
        <servlet-class>servlets.AdminAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>servlets.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditDetails</servlet-name>
        <servlet-class>servlets.EditDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Rendezvous</servlet-name>
        <servlet-class>servlets.Rendezvous</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BloodTests</servlet-name>
        <servlet-class>servlets.BloodTests</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Doctors</servlet-name>
        <servlet-class>servlets.Doctors</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Treatments</servlet-name>
        <servlet-class>servlets.Treatments</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Messages</servlet-name>
        <servlet-class>servlets.Messages</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Registration</servlet-name>
        <url-pattern>/Registration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminAction</servlet-name>
        <url-pattern>/AdminAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditDetails</servlet-name>
        <url-pattern>/EditDetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Rendezvous</servlet-name>
        <url-pattern>/Rendezvous</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BloodTests</servlet-name>
        <url-pattern>/BloodTests</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Doctors</servlet-name>
        <url-pattern>/Doctors</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Treatments</servlet-name>
        <url-pattern>/Treatments</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Messages</servlet-name>
        <url-pattern>/Messages</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
